##Cloudflare config

CLOUDFLARE_DNS=  ##cloudflare registered domain

##qBittorrent configs and volumes
QBITTORRENT_CONFIG_VOLUME=
QBITTORRENT_FILES_VOLUME=
QBITTORRENT_PORT_1=
QBITTORRENT_PORT_2=

##Sonarr configs and volumes

SONARR_CONFIG_VOLUME=
SONARR_FILES_VOLUME=
SONARR_PORT=

##Jackett configs and volumes

JACKETT_CONFIG_VOLUME=
JACKETT_FILES_VOLUME=
JACKETT_PORT=

##Radarr configs and volumes

RADARR_CONFIG_VOLUME=
RADARR_FILES_VOLUME=
RADARR_TORRENTED_FILES_VOLUME=
RADARR_PORT=

##Plex volumes

PLEX_CONFIG_VOLUME=
PLEX_FILMS_VOLUME=
PLEX_SERIES_VOLUME=

##Tautulli configs and volumes

TAUTULLI_CONFIG_VOLUME=
TAUTULLI_PORT=

##Portainer configs and volumes

PORTAINER_CONFIG=
PORTAINER_PORT=








